/*-------------------------
      Header style start 
   ---------------------------*/
.menubar{
    display: flex;
    justify-content: space-between;
    background-color: linen;
    Width:1150px;
    Height:60px;
    margin-left: 40px;
    margin-right: 0px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    margin-top: 18px;
    font-size: 18px;
    
    

}
.navigate a{
    color: black;
    padding-left: 20px;
    text-decoration: none;
}
.navigate i{
    padding-left: 20px;
}
/*-------------------------
      Header style end 
   ---------------------------*/




/*---------------------------
       Main style start 
  ------------------------------*/
.container{
    font-family: 'Poppins', sans-serif;
    Width:1250px;
    Height:auto;
    margin-left: 40px;
    background-color: linen;

}
/* container-part-1 style start */
.container-part-1{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    padding: 40px;
    padding-top: 60px;
}
.description{
    padding-right: 120px;
}
h1{
    font-size: 40px;
    position: relative;
    color: black;
    text-transform: uppercase;

}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 50%;
    color: #f85b12;
    border-right: 2px solid hidden;
    overflow: hidden;
    animation: animate 2s linear 3;
    animation-delay: 1s;
    animation-direction: alternate;

}
@keyframes animate
  {
    0%,100%{
        width: 0;
    }
    100%{
        width: 90%;
    }
  }

.button{
    Width:196px;
    Height:44px;
    color: white;
    border: 1px solid #d6125a ;
    border-radius: 20px;
    background-color:#d6125a;
}
.description-img{
    Width:440px;
    Height:440px;
    border: 2px solid rgba(220, 198, 241, 0.219);
    border-radius: 50%;
    background-color:rgba(220, 198, 241, 0.219) ;
}
/* container-part-1 style end */


/* Logo style start */
hr{ 
    border:0px;
    height: 1px; 
    /*Note:This line has a gradient line using linear-gradient as the background. */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    margin-top:30px;
    margin-bottom:30px;
    margin-left:70px ;
    margin-right:70px ;
}
.logo{
    text-align: center;
}
.logo img{
   padding-left: 25px;
   padding-right: 25px;
}
/* Logo style end */



/* container-part-2 style start */
.container-part-2{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    margin-bottom: 60px;
}
.part-2-headline{
    text-align: center;
    margin-top: 5px;
    padding-bottom: 15px;
}

.collection{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    margin-top: 20px;
    
    
}
.outline{
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
    margin-right: 20px;
    background-color:white;

}
.filled{
    color: #FB8200;
}
.seemore-button{
    padding-right: 22px;
    margin-bottom: 150px;
}
#seemore{
    text-decoration: none;
    float: right;
    color: #d6125a;
    padding-right: 50px;
    margin-bottom: 150px;
}
/* container-part-2 style end */




/* Extra-part-style-start */
  .extra-topic{
      display: flex;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 50px;
  }
  .extra-topic img{
      width: 500px;
      height: 300px;
  }
  .join-button{
    Width:196px;
    Height:44px;
    border: 1px solid #d6125a ;
    background-color:#d6125a ;
  }
  .join-button a{
      text-decoration: none;
      color: white;
  }
  /* Footer style start */
  .footer{
    Width:1250px;
    Height:auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 14, 73);
    color:white;
    text-align: center;
    padding-top: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
  .footer-icon i{
    padding-left: 15px;
    padding-right: 15px;
  }

  

